{% extends "includes/header.html"  %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">

            <span>
                <strong>{{ stock.ticker }} / {{ stock.name }}</strong>
                <a href="{% url 'open_position' stock.id %}"><button class="btn btn-primary">Open Position</button></a>

                {% if is_favourite %}
                <a href="{% url 'favourite_stock' id=stock.id %}"><button class="btn btn-primary"><i class="fas fa-bookmark"></i></button></a>
                {% else %}
                <a href="{% url 'favourite_stock' id=stock.id %}"><button class="btn btn-primary"><i class="far fa-bookmark"></i></button></a>
                {% endif %}
            </span>

        </div>
    </div>

    {% if graph %}
    <div style="width:600;height:1000;display:block">
        {{ graph|safe }}
    </div>

    <div class="row">
        <div class="col-12">
            {{ summary|safe }}
        </div>
    </div>

    <!-- Data Box -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#latest" role="tab" aria-controls="latest" aria-selected="true">1D</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#week" role="tab" aria-controls="week" aria-selected="false">7D</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#month" role="tab" aria-controls="month" aria-selected="false">30D</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ytd" role="tab" aria-controls="ytd" aria-selected="false">YTD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#alltime" role="tab" aria-controls="alltime" aria-selected="false">All Time</a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <h3 class="card-title">Market Data</h3>
                    <h5>{{ stock.ticker }}/{{ stock.name  }}</h5>

                    <div class="tab-content mt-3">
                        <div class="tab-pane active" id="latest" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ latest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>Change</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Daily Change:</h6> <span>{{ yest_diff }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Daily Change %:</h6> <span>{{ yest_diff_perc }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ yest_vol_diff }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ day_bef.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{day_bef.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{day_bef.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{day_bef.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{day_bef.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{day_bef.volume}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="week" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ latest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>Change</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Week Change:</h6> <span>{{ week_diff }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Week Change %:</h6> <span>{{ week_diff_perc }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Week Change %:</h6> <span>{{ week_vol_diff }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ week.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{week.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{week.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{week.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{week.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{week.volume}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="month" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ latest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>Change</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Month Change:</h6> <span>{{ week_diff }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Month Change %:</h6> <span>{{ week_diff_perc }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ week_vol_diff }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ month.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{month.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{month.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{month.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{month.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{month.volume}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="ytd" role="tabpanel" aria-labelledby="ytd-tab">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ latest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>Change</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Yearly Change:</h6> <span>{{ ytd_diff }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Yearly Change %:</h6> <span>{{ ytd_diff_perc }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ ytd_vol_diff }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ ytd.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{ytd.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{ytd.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{ytd.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{ytd.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{ytd.volume}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="alltime" role="tabpanel" aria-labelledby="alltime-tab">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ latest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>Change</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>All Time Change:</h6> <span>{{ early_diff }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>All Time Change %:</h6> <span>{{ early_diff_perc }}</span></li>
                                            <li class="list-group-item flex-fill"><h6>All Time Volume Change %:</h6> <span>{{ early_vol_diff }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="list-group-item flex-fill">
                                        <h6>{{ earliest.date }} Data</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{earliest.open_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{earliest.close_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{earliest.high_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{earliest.low_price}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{earliest.volume}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Positions Box -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <ul class="nav nav-tabs card-header-tabs" id="position-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#open" role="tab" aria-controls="open" aria-selected="true">Open Positions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Closed Positions</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <h3 class="card-title">Positions</h3>

                    <div class="tab-content mt-3">

                        <div class="tab-pane active" id="open" role="tabpanel">
                            <div class="card-text">

                                <div class="list-group-item flex-fill">
                                    <h6>Open Positions</h6>
                                    {% if user.is_authenticated %}
                                    {% if open_positions %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Position #</th>
                                            <th scope="col">Open Date</th>
                                            <th scope="col">Close Date</th>
                                            <th scope="col">Instrument</th>
                                            <th scope="col">Direction</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Open Price</th>
                                            <th scope="col">Close Price</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Result</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for position in open_positions %}
                                        <tr>
                                            <th scope="row">{{position.id}}</th>
                                            <td>{{position.open_date}}</td>
                                            <td>{{position.close_date}}</td>
                                            <td> <a href="{% url 'equity' position.instrument.id %}">{{position.instrument}}</a></td>
                                            <td>{{position.direction}}</td>
                                            <td>{{position.quantity}}</td>
                                            <td>{{position.open_price}}</td>
                                            <td>{{position.close_price}}</td>
                                            <td>{{position.open}}</td>
                                            <td>{{position.result}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>

                                    {% else %}
                                    <span>No positions have been created with this instrument</span>
                                    {% endif %}

                                    {% else %}
                                    <span>Please <a href="/login">Login</a> to you account</span>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="closed" role="tabpanel">
                            <div class="card-text">

                                <div class="list-group-item flex-fill">
                                    <h6>Closed Positions</h6>
                                    {% if user.is_authenticated %}
                                    {% if close_positions %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Position #</th>
                                            <th scope="col">Open Date</th>
                                            <th scope="col">Close Date</th>
                                            <th scope="col">Instrument</th>
                                            <th scope="col">Direction</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Open Price</th>
                                            <th scope="col">Close Price</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Result</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for position in close_positions %}
                                        <tr>
                                            <th scope="row">{{position.position_number}}</th>
                                            <td>{{position.open_date}}</td>
                                            <td>{{position.close_date}}</td>
                                            <td> <a href="{% url 'equity' position.instrument.id %}">{{position.ticker}}</a></td>
                                            <td>{{position.direction}}</td>
                                            <td>{{position.quantity}}</td>
                                            <td>{{position.open_price}}</td>
                                            <td>{{position.close_price}}</td>
                                            <td>{{position.position_state}}</td>
                                            <td>{{position.result}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>



                                    {% else %}
                                    <span>No positions have been created with this instrument</span>
                                    {% endif %}

                                    {% else %}
                                    <span>Please <a href="/login">Login</a> to you account</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif message %}
    <h4>{{message}}</h4>
    {% endif %}
</div>

{% endblock %}

