{% extends "includes/header.html"  %}

{% block content %}

{% if stocks %}

<div class="container-fluid">

    <h1>{{exchange}} Listed Stocks</h1>

     {% include "includes/paginator_nav.html" %}

    <table class="table">
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
        </tr>
        <tbody>
        {% for stock in stocks %}
        <tr>
            <th scope="row"><a href="{% url 'equity' stock.id %}">{{stock.ticker}}</a></th>
            <td>{{stock.name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if stocks.has_previous %}
            <a href="?page={{ exchange.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ stocks.number }} of {{ stocks.paginator.num_pages }}.
        </span>
    </span>
    </div>


    {% elif message %}
    <h4>{{message}}</h4>
    {% endif %}

   {% include "includes/paginator_nav.html" %}

</div>

{% endblock %}

