{% extends "trading/includes/header.html"  %}

{% block content %}

{% if stocks %}

<div class="container-fluid">

    <h1>{{exchange}} Listed Stocks</h1>

    {% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{exchange.pk}}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{exchange.pk}}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
    {% endif %}

    <table class="table">
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
        </tr>
        <tbody>
        {% for stock in stocks %}
        <tr>
            <th scope="row"><a href="{% url 'equity' stock.id %}">{{stock.ticker}}</a></th>
            <td>{{stock.name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if stocks.has_previous %}
            <a href="?page={{ exchange.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ stocks.number }} of {{ stocks.paginator.num_pages }}.
        </span>

        {% if stocks.has_next %}
            <a href="?page={{ exchange.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>


    {% elif message %}
    <h4>{{message}}</h4>
    {% endif %}

    {% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{exchange.pk}}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{exchange.pk}}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
    {% endif %}

</div>

{% endblock %}

