{% extends "includes/header.html"  %}

{% block content %}

<div class="container-fluid">

      {% include "includes/paginator_nav.html" %}

    <table class="table">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col"># Stocks</th>
        </tr>
        <tbody>
        {% for exchange in exchanges %}
        <tr>
            <th scope="row"><a href="{% url 'exchange' exchange.id %}">{{exchange.code}}</a></th>
            <td>{{exchange.name}}</td>
            <td>{{exchange.country}}</td>
            <td>{{exchange.num_stocks}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

      {% include "includes/paginator_nav.html" %}

</div>

{% endblock %}l>