{% extends "includes/header.html"  %}

{% block content %}

<div class="container-fluid">

    {% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/equities?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/equities?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
    {% endif %}

    <table class="table">
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Exchange</th>
            <th scope="col" class="text-center">Bookmark</i></th>
        </tr>
        <tbody>
        {% for stock in stocks %}
        <tr>
            <th scope="row"><a href="{% url 'equity' stock.id %}">{{stock.ticker}}</a></th>
            <td>{{stock.name}}</td>
            <td>{{stock.exchange}}</td>
            <td class="text-center"><button class="btn btn-primary"><i class="fas fa-bookmark"></i></button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/equities?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/equities?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
    {% endif %}

    </span>
</div>
</div>

{% endblock %}