{% extends "includes/header.html"  %}

{% block content %}
<div class="container-fluid">

    <h2 class="display-2 text-center">{{user.first_name}} Account</h2>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#account" role="tab" aria-controls="account" aria-selected="true">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#positions" role="tab" aria-controls="positions" aria-selected="false">Positions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false">Favourites</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <h3 class="card-title">Your Account</h3>

                    <a href="{% url 'edit_account' %}"><button class="btn btn-primary">Edit Account <i class="fas fa-user-cog fa-1x"></i></button></a>
                    <a href="{% url 'change_password' %}"><button class="btn btn-primary">Change Password</button></a>

                    <div class="tab-content mt-3">

                        <div class="tab-pane active" id="account" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>Account Details</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item flex-fill"><h6>First Name:</h6><span>{{user.first_name}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Last Name:</h6> <span>{{user.last_name}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Email:</h6> <span>{{user.email}}</span></li>
                                            <li class="list-group-item flex-fill"><h6>Account Opened:</h6> <span>{{user.date_joined}}</span></li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="positions" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>Account Positions</h6>
                                        {% if positions %}

                                        <table class="table scroll">
                                            <thead>
                                            <tr>
                                                <th scope="col">Position #</th>
                                                <th scope="col">Open Date</th>
                                                <th scope="col">Close Date</th>
                                                <th scope="col">Instrument</th>
                                                <th scope="col">Direction</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Open Price</th>
                                                <th scope="col">Close Price</th>
                                                <th scope="col">State</th>
                                                <th scope="col">Result</th>
                                                <th scope="col" class="text-center">Close</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for position in positions %}
                                            <tr>
                                                <th scope="row">{{position.position_number}}</th>
                                                <td>{{position.open_date}}</td>
                                                <td>{{position.close_date}}</td>
                                                <td> <a href="{% url 'equity' position.ticker_id %}">{{position.ticker}}</a></td>
                                                <td>{{position.direction}}</td>
                                                <td>{{position.quantity}}</td>
                                                <td>{{position.open_price}}</td>
                                                <td>{{position.close_price}}</td>
                                                <td>{{position.position_state}}</td>
                                                <td>{{position.result}}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'close_position' position.position_number %}">
                                                        <button class="btn btn-danger">
                                                            <i class="fas fa-times-circle"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>

                                        {% else %}
                                        <span>No positions have been created on this account</span>
                                        {% endif %}
                                    </div>

                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane" id="favourites" role="tabpanel">
                            <div class="card-text">
                                <ul class="list-group list-group-horizontal">

                                    <div class="list-group-item flex-fill">
                                        <h6>Favourites</h6>
                                        {% if favourites %}

                                        <table class="table scroll">
                                            <thead>
                                            <tr>
                                                <th scope="col">Instrument</th>
                                                <th scope="col">Name</th>
                                                <th scope="col" class="text-center">Bookmark</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for favourite in favourites %}
                                            <tr>
                                                <td><a href="{% url 'equity' favourite.id %}">{{ favourite.ticker }}</a></td>
                                                <td>{{favourite.name}}</td>

                                                <td class="text-center">
                                                    {% if is_favourite %}
                                                    <a href="{% url 'favourite_equity' favourite.id %}"><i class="fas fa-bookmark fa-2x"></i></a>
                                                    {% else %}
                                                    <a href="{% url 'favourite_equity' favourite.id %}"><i class="far fa-bookmark fa-2x"></i></a>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>

                                        {% else %}
                                        <span>You dont have any favourite instruments</span>
                                        {% endif %}
                                    </div>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

