<table class="table table-hover table-striped shadow-sm ">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Exchange</th>
        <th scope="col">Price</th>
        <th scope="col">Change</th>
        <th scope="col">%</th>
        <th scope="col" class="text-center">Open</th>
        <th scope="col" class="text-center">Bookmark</i></th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
        <td><a href="{% url 'stock' stock.id %}">{{stock.ticker}}</a></td>
        <td>{{stock.name}}</td>
        <td><a href="{% url 'exchange' stock.exchange.id %}">{{stock.exchange}}</a></td>

        <td>
            {% if stock.get_current_data %}
                <p>{{stock.get_currency.code}} {{stock.get_current_data.close}}<small></small></p>
            {% else %}
                N/A
            {% endif %}
        </td>

        <td>{{stock.get_change}}</td>
        <td>{{stock.get_change_perc}}</td>

        <td class="text-center">
            <a href="{% url 'open_position' stock.pk %}"><i class="fas fa-plus-circle fa-2x"></i></a>
        </td>

        <td class="text-center">
            {% if stock in favourite_list %}
            <a href="{% url 'favourite_stock' stock.id %}"><i class="fas fa-bookmark fa-2x"></i></a>
            {% else %}
            <a href="{% url 'favourite_stock' stock.id %}"><i class="far fa-bookmark fa-2x"></i></a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>