<li class="nav-item">
    <a class="nav-link" href="/">Home <span class="sr-only">Home</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/exchanges">Exchanges<span class="sr-only">Exchanges</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/equities">Equities <span class="sr-only">Equities</span></a>
</li>


{% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="/account">{{user.first_name|title}}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/signup">Signup</a>
</li>
{% endif %}

<li class="nav-item">
    <a class="nav-link" href="/settings">Settings</a>
</li>
</ul>

<form class="form-inline my-2 my-lg-0" action="#" method="get">
    <input class="form-control mr-sm-2" list="results" id="search">
    <datalist id="results"></datalist>
</form>