<nav id="sidebar" class="active">

        <div class="sidebar-header">
            <h3>Baker Financial</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Market Categories</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>