<nav id="sidebar" class="active">

        <div class="sidebar-header">
            <h3>Baker Financial</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="">
                <a href="#sectorsSubmenu" data-toggle="collapse" aria-expanded="false">Market Sectors</a>
                <ul class="collapse list-unstyled" id="sectorsSubmenu">
                    <li>
                        <a href="#">Financial</a>
                    </li>
                    <li>
                        <a href="#">Technology</a>
                    </li>
                    <li>
                        <a href="#">Industrial</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#securitesSubmenu" data-toggle="collapse" aria-expanded="false">Securities</a>
                <ul class="collapse list-unstyled" id="securitiesSubmenu">
                    <li>
                        <a href="#">Bonds</a>
                    </li>
                    <li>
                        <a href="#">Equities</a>
                    </li>
                    <li>
                        <a href="#">Contracts</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>