<div class="tab-pane active" id="today" role="tabpanel">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>Latest Price Of: {{ latest.timestamp }}</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Price:</h6> <p>{{latest.close}}</p></li>
                                                <li class="list-group-item flex-fill"><h6>Change:</h6> <span>{{ day_change }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Change %:</h6> <span>{{ day_change_perc }}</span></li>
                                            </ul>
                                        </div>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="latest" role="tabpanel">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ latest.timestamp }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{yesterday.volume}}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>Change</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Daily Change:</h6> <span>{{ yest_diff }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Daily Change %:</h6> <span>{{ yest_diff_perc }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ yest_vol_diff }}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ day_bef.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{day_bef.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{day_bef.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{day_bef.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{day_bef.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{day_bef.volume}}</span></li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="week" role="tabpanel">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ latest.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>Change</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Week Change:</h6> <span>{{ week_diff }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Week Change %:</h6> <span>{{ week_diff_perc }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Week Change %:</h6> <span>{{ week_vol_diff }}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ week.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{week.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{week.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{week.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{week.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{week.volume}}</span></li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="month" role="tabpanel">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ latest.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>Change</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Month Change:</h6> <span>{{ month_diff }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Month Change %:</h6> <span>{{ month_diff_perc }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ month_vol_diff }}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ month.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{month.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{month.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{month.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{month.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{month.volume}}</span></li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="ytd" role="tabpanel" aria-labelledby="ytd-tab">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ latest.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>Change</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Yearly Change:</h6> <span>{{ ytd_diff }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Yearly Change %:</h6> <span>{{ ytd_diff_perc }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume Change %:</h6> <span>{{ ytd_vol_diff }}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ ytd.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{ytd.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{ytd.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{ytd.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{ytd.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{ytd.volume}}</span></li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="alltime" role="tabpanel" aria-labelledby="alltime-tab">
                                <div class="card-text">
                                    <ul class="list-group list-group-horizontal">

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ latest.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{latest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{latest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{latest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{latest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{latest.volume}}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>Change</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>All Time Change:</h6> <span>{{ early_diff }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>All Time Change %:</h6> <span>{{ early_diff_perc }}</span></li>
                                                <li class="list-group-item flex-fill"><h6>All Time Volume Change %:</h6> <span>{{ early_vol_diff }}</span></li>
                                            </ul>
                                        </div>

                                        <div class="list-group-item flex-fill">
                                            <h6>{{ earliest.date }} Data</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item flex-fill"><h6>Open:</h6> <span>{{earliest.open}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Close:</h6>  <span>{{earliest.close}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>High:</h6> <span>{{earliest.high}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Low:</h6> <span>{{earliest.low}}</span></li>
                                                <li class="list-group-item flex-fill"><h6>Volume:</h6> <span>{{earliest.volume}}</span></li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>