<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'exchange_list' %}">Exchanges</a>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#">Indices</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'stock_list' %}">Stocks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'currency_list' %}">FX</a>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#">Bonds</a>
</li>


