{% extends "page_elements/header.html"  %}
{% block content %}

<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">{{exchange.code}} - {{exchange.name}}</h2>
    </div>

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            {% include "page_elements/paginator_nav.html" %}
            <strong class="text-center">Listed Stocks</strong>

            <div class="border shadow-sm" id="exchange-stocks">
                {% for stock in listed_stocks %}

                <button href="{% url 'stock' stock.id %}" class="btn btn-primary w-100 mb-1">
                    <div class="row">
                        <div class="col-auto">
                            <span class="text-left font-weight-bold m-0 ml-0 p-0">{{stock.ticker}}</span>
                        </div>

                        <div class="col-auto">
                        <span class="m-0 p-0 text-center">{{stock.get_currency.code}} {{stock.get_current_data.close}}
                            <sup>{{stock.get_change}} | {{stock.get_change_perc}}%</sup></span>
                        </div>
                    </div>
                </button>

                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock %}