{% extends "page_elements/header.html"  %}

{% block content %}

<div class="container-fluid">

      {% include "page_elements/paginator_nav.html" %}

    <table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col"># Stocks</th>
        </tr>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
        <tr>
            <th scope="row"><a href="{% url 'exchange' exchange.id %}">{{exchange.code}}</a></th>
            <td>{{exchange.name}}</td>
            <td>{{exchange.country}}</td>
            <td>{{exchange.get_stock_count}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

      {% include "page_elements/paginator_nav.html" %}

</div>

{% endblock %}l>