<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'exchange_list' %}">Exchanges</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Indices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'stock_list' %}">Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'currency_list' %}">FX</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Bonds</a>
    </li>

     <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
        </a>

        <div class="dropdown-menu shadow-lg" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/settings">Settings</a>
            {% if user.is_authenticated %}
            <a class="dropdown-item" href="/account">{{user.email}}</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            {% else %}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">Signup</a>
            {% endif %}
        </div>
    </li>

</ul>


<form class="mx-2 my-auto " action=" " method="get" action="{% url 'search' %}"  id="navBarSearchForm">
    <div class="input-group">
        <input class="form-control mx-2" placeholder="Search...">
    </div>
</form>

