<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark shadow">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include 'page_elements/navbaritems.html' %}
            </div>
        </div>
    </div>
</nav>