<table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Currency</th>
            <th scope="col"># Stocks</th>
        </tr>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
        <tr>
            <td><a href="{% url 'exchange' exchange.id %}">{{exchange.code}}</a></td>
            <td>{{exchange.name}}</td>
            <td>{{exchange.country}}</td>
            <td>{{exchange.get_currency.code}}</td>
            <td><a data-toggle="tooltip" data-placement="top" title="View Exchange Stocks" href="{% url 'exchange_stocks' exchange.pk %}">{{exchange.get_stock_count}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>